<div class="container">
  <app-product-search
    [searchTerm]="searchTerm()"
    (searchTermChange)="onSearchChange($event)">
  </app-product-search>
  <div class="table-card">
    <app-product-table
      [products]="paginatedProducts()"
      (requestDelete)="openDeleteModal($event)">
    </app-product-table>

    <app-product-pagination
      [totalResults]="filteredProducts().length"
      [currentPage]="currentPage()"
      [totalPages]="totalPages()"
      [itemsPerPage]="itemsPerPage()"
      (pageChange)="onPageChange($event)"
      (limitChange)="onLimitChange($event)">
    </app-product-pagination>
  </div>
</div>
<div class="modal-overlay" *ngIf="showModal()">
  <div class="modal-content">
    <p class="modal-text">
      ¿Estas seguro de eliminar el producto {{ productToDelete()?.name }}?
    </p>
    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeModal()">Cancelar</button>
      <button class="btn-confirm" (click)="confirmDelete()">Confirmar</button>
    </div>
  </div>
</div>
